<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.angulardart.custom.swipe"
        versionCode = "10"
        version     = "0.1.4" >

    <name>AngularDart Custom Swipe</name>

    <description>
        An example of AngularDart Custom Swipe
    </description>

    <author href="http://www.alexcd.eu">AlexCD</author>

    <gap:platform name="android" />

    <access origin="*"/>
</widget>